<link rel="stylesheet" href="/public/css/style.css">
<div class="app">
    <h1 class="page-name">Home Page</h1>
    <div class="navbar">
        <ul>
            <li><a href="/login">Login</a></li>
            <li><a href="/registration">Registration</a></li>
        </ul>
    </div>
</div>